.dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #ff8787;
  border: 1px solid #dd6b6b;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  min-height: 40px;
  min-width: 80px;
  width: fit-content;
  height: fit-content;
  max-width: 250px;
  max-height: 390px;
  overflow-y: auto;
  z-index: 10;
  padding-inline: 15px;
  align-content: center;
}
